@font-face {
        font-family: 'Arabella';
        font-weight: normal;
        src: url("FONTS/Arabella.ttf");
    }


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffoct {
    from {opacity: 0;}
    to {opacity: .7;}
}


.btnmenu {
    opacity: .8;
}


.comentainer2,
 .wrap-contactito,
.precio-small
 {
    display: none;
}

.marco {
background: url("../ASSETS/2-menu/marco_contacto.png") no-repeat center top;
}

.fachada {
        display: inline-block;
        float: right;
        margin-top: -120px;
    margin-right: -10px
    }

.wrap-cuerpo {
        margin: 85px 170px 0px 320px;

 }

/*FOOTER*/

.foot_container {
    transform: rotate(-8deg);
    display: block;
    float: left;
    margin-left: 75%;
    margin-top: 315px;
}



/*---------------TABS  --------------*/
.container_tabs {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 130px;
    float: right;
    text-align: center;
    margin-left: 411px;
    margin-right: 220px;
}

.wrap_tabs {
    display: inline-block;
    width: 385px;
    height: auto;
    margin: 0px;
    z-index: 11;
    position: absolute;
}




#foto-postres,
#foto-bebidas {
    display: none;
}


#platos,
#postres{
    display: none;
}





/*TITULOS COMENTARIO PC*/
.comentainer {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    margin-bottom: -470px;
    float: right;
    margin-top: 100px;
    text-align: center;
    z-index: 20;

}


/*COLORES--------------------------*/

.rojo {
    color: #c14e36;
}

.amarillo {
    color: #a78c30;
}

.verde {
    color: #65b245;
}


.tablita {
    display: none;
    margin-left: 12%;
    margin-right: 43%;
    position: absolute;
    float: right;
text-align: left;
font-family: "Aroha";
color: #716558;
    border: none;
    border-collapse: collapse;
    font-size: 19pt;
    line-height: 12pt;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    
}



.resenia {
    column-span: none;
}


.tablactiva {
    display: block;
}



.fachadaBig {
    opacity: 0.7;
    display: none;
      -webkit-animation: fadeEffoct 1s;
    animation: fadeEffoct 1s;
}

.foto-activa {
    display: inline-block;
}






.nombre-plato {
    font-size: 25pt;
}

.comentainer p {
    margin: 0;
}

strong {
    font-weight: 500;
}

#spacing {
    height: 10px;
}

.precio-big {
    font-size: 21pt;
    color: #594a41;
    text-align: center;
}






/*MEDIAS*/

@media screen and (max-width: 940px) {
.marco {
background: url("../ASSETS/2-menu/marco_contacto_foot.png") no-repeat center top;
    }
}





@media screen and (max-width: 580px) {
    
    
    .container {
        height: auto;
        min-height: 100% !important;
        width: auto;
        margin: 10px 3% 0px 3%;
        margin-right: 3%
        padding: 8%;
display: block;
        float: left;
        position: absolute;
    }
    
    table {
        
        display: block;
        width: 100% !important;
        max-width: 326px;
        margin: auto !important;
        float: none  !important;
        position: relative !important;
    }
    
    
    
    #platos,
    #postres,
#bebidas {
        background-image: url(../ASSETS/2-menu/1-fondo-platos.png);
        background-clip: border-box;
        background-position:right bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #postres {
        background-image: url(../ASSETS/2-menu/2-fondo-postres.png);
    }
    
    #bebidas {
       background-image: url(../ASSETS/2-menu/3-fondo-bebidas.png); 
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .precio-small {
        display: table-cell;
    }
    
    .precio-big {
        display: none;
    }
    
    
    .wrap-cuerpo,
    .wrap-anuncio
     {
        margin: 0px !important;
         display: none;
    }
    
    .foot_container {
        display: none;
    }

    .comentainer {
        display: block !important;
        width: 100% !important;
        float: left !important;
                position: relative !important;
        margin: 0;
        margin-top: 6vw;
        margin-bottom: 6vw;

    }
    
   
   .container_tabs {
       float: left;
        display: block;
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
       margin-top: 0 !important;
               position: relative !important;

       
    }
    
    .wrap_tabs {
        display: block !important;
        width: 100%;
                position: relative !important;

    }
   
   
  
    
    
    
    /*    CONTACTITOS*/
    .wrap-contactito {
        height: 80px;
        width: 100%;
        position: relative;
        float: left;
    display: block;
        margin: 0px;
        margin-top: 7vw;
        margin-bottom: 0px;
                vertical-align: top;

}
    
    .info-contacto {
        display: inline-block;
        font-family: "Din_reg";
        
        font-size: 9pt;
        letter-spacing: -0.1pt;
        line-height: 11pt;
            color: #5a4a42;
        width: 92%;
        float: left;
        vertical-align: top;


    }
 
    .mini-redes {
        display: inline-block;
        width: 4.5%;
        margin: auto;
        margin-top: 3vw;
        float: right;
        vertical-align: top;

    }
    
    .mini-redes img {
        height: 4.1vw;
        width: 4.1vw;
margin: 0px;    }
    
    
    
    
    
}