.btnreserva {
    opacity: .8;
}


.comentainer2,
 .wrap-contactito {
    display: none;
}

.caja-coment-2 input,
.laladate{
    width: 200px;
    z-index: 25;
}

.marco {
background: url("../ASSETS/3-reservas/marco_contacto.svg") no-repeat center top;
}

.fachada {
        display: inline-block;
        float: right;
        margin-top: 0px;
    z-index: -2;
    }

.fachada-big {
    opacity: .8;
    pointer-events: none;
}

.wrap-cuerpo {
        margin: 85px 170px 0px 320px;

 }

/*FOOTER*/

.foot_container {
    transform: rotate(-8deg);
    display: block;
    float: left;
    margin-left: 75%;
    margin-top: 435px;
}

/*TITULOS COMENTARIO PC*/
.comentainer {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
    margin-bottom: -470px;
    float: right;
    margin-top: 170px;
    text-align: center;

}

.comentainer p {
    margin: 0;
}







.caja-coment-1,
.caja-coment-2,
.caja-coment-3{
    position: absolute;
    display: block;
    width: 455px;
    height: auto;
    float:right;
    margin-bottom: 26px;
}

.caja-coment-2 {
/*    margin-top: 70px;*/
}





   .caja-coment-1,
.caja-coment-2,
.caja-coment-3,
.caja-coment-4 {
    position: relative;
    float: right;
    text-align: left;
    margin-right: 43%;
    font-family: "aroha";
    font-size: 28pt;
    line-height: 12pt;
    color: #716558;

}


input {
    font-family: "Din_reg";
    color: grey;
        width: 455px;
    height: 30px;
background: none;
    border: none;
    margin-top: 4px;
}

.inputcoment {
    height: 150px;
    vertical-align: top;
    resize: none;
    padding-bottom: 120px;
    word-break: break-word;
}


/*MEDIAS*/

@media screen and (max-width: 940px) {
.marco {
background: url("../ASSETS/3-reservas/marco_contacto_foot.svg") no-repeat center top;
    }
}


@media screen and (max-width: 830px) {
  .caja-coment-1,
.caja-coment-2,
.caja-coment-3,
.caja-coment-4,
    .comentainer, 
    input{
    float: left;
        margin-right: 0;
        margin-left: 8px;
        width: 75%;
    
}


@media screen and (max-width: 700px) {
    
}


@media screen and (max-width: 580px) {
    .wrap-cuerpo,
    .wrap-anuncio
     {
        margin: 0px;
         display: none;
    }
    
    .foot_container {
        display: none;
    }

    .comentainer {
        display: none;
    }
    
    .comentainer2 {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    float: left;
    text-align: center;

}
    
    
    
    .caja-coment-1,
.caja-coment-2,
.caja-coment-3,
.caja-coment-4,
    .comentainer2, 
    input{
    float: left;
        margin-right: 0;
        margin-left: 0px;
        width: 100%;
        font-size: 8.5pt;
        margin-top: 0;
    
}
   .caja-coment-1,
.caja-coment-2,
    .caja-coment-3,
    .caja-coment-4{
        height: 9.9vw;
        background-image: url(../ASSETS/3-reservas/fondo-inputs-01.svg);
        background-repeat: no-repeat;
        background-size:cover;
        background-clip: border-box;
                padding-left: 10px;
        margin-bottom: 6.5vw;

    } 
    
    .caja-coment-2
   {
        background-image: url(../ASSETS/3-reservas/fondo-inputs-02.svg);
    }
    
    .caja-coment-4 {
        background-image: url(../ASSETS/3-reservas/fondo-inputs-03.svg);
    }

    
    
    
    
    
    
    /*    CONTACTITOS*/
    .wrap-contactito {
        height: 80px;
        width: 100%;
        position: relative;
        float: left;
    display: block;
        margin: 0px;
        margin-top: 7vw;
        margin-bottom: 0px;
                vertical-align: top;

}
    
    .info-contacto {
        display: inline-block;
        font-family: "Din_reg";
        
        font-size: 9pt;
        letter-spacing: -0.1pt;
        line-height: 11pt;
            color: #5a4a42;
        width: 92%;
        float: left;
        vertical-align: top;


    }
 
    .mini-redes {
        display: inline-block;
        width: 4.5%;
        margin: auto;
        margin-top: 3vw;
        float: right;
        vertical-align: top;

    }
    
    .mini-redes img {
        height: 4.1vw;
        width: 4.1vw;
margin: 0px;    }
    
    
    
    
    
}