


.btnubic {
    opacity: .8;
}

.fachada-big {
margin-right: -15px;
mix-blend-mode: darken;

}

.wrap-contactito {
    display: none;
}

.wrap-anuncio {
    
        display: block;
        width: 100%;
        float: right;
        text-align: center;
        margin: 85px 480px 0px 42.8px;
    }

.sub-wrap {
    position: absolute;
        display: inline-block;
        width: 6650px;
        margin: 0px;
}

.container-medios {
    margin-top: 300px;
    position: relative;
    float: left;
    margin-left: 15px;
    
}


.transporte-container {
    margin: auto;
    width: 280px;
    height: 160px;
    display: inline-block;
    float: left;
    position: relative;
}

.titulo-medios {
    display: block;
    font-family: "Aroha";
    font-size: 28pt;
    line-height: 15pt;
    margin: 0;
    text-align: left;
    color: #c04e36;
}

.tabla-medios,
.subte {
    color: #5a4a42;
    margin: 0px;
    width: 250px;
    height: 110px;
    font-family: "Din_reg";
    font-size: 9pt;
    line-height: 10pt;
    letter-spacing: -0.2px;
    text-align: left;
    border: none;
    border-collapse: collapse;
    vertical-align: text-top;
    float: left;
}

.subte {
    height: auto;
    padding-top: 108px;
}



td {
    width: 80px;
}

.por {
    font-size: 9pt;
    line-height: 10pt;
    letter-spacing: -0.2px;
    font-family: "Din_demi";
    width: 130px;
    margin: 0;
        vertical-align: top;
    text-align: left;
}


   

    
    
    
    .anuncio-index {
        position: relative;
        display: inline-block;
        float: left;
        margin-top: 65px;
    }

.subte td {
    width: 140px
}

/*TABLET*/

@media screen and (max-width: 700px) {
    
    .anuncio-index-respons {
        display: none;
    }
    
    .anuncio-index-big {
        display: inline-block;
    }
    
    .container-medios {
      margin-left: 60px; 
        margin-top: 320px;
    }
    
   
}


/*   PHONE*/
@media screen and (max-width: 580px) {
    
    
    
    .anuncio-index {
        display: none;
    }
    
    
    
    .container {
        height: auto;
        min-height: 100% !important;
        width: auto;
        margin: 10px 3% 0px 3%;
        padding: 8%;
        background-image: url(../ASSETS/bg_phone.png);
        background-repeat: repeat-y;
        background-size: cover;
        background-origin: border-box;
        display: block;
        position: absolute;}
    
    
    
    .wrap-anuncio {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin: auto;
    }
    
    
    .container-medios {
        display: block;
        text-align: center;
        width: 100%;
        margin: auto;
    
    position: relative;
    float: left;
}
    .fachada {
        width: 100%;
        max-width: 100%;
        margin: auto;
        text-align: center;
        display: block;
        float:none;
        mix-blend-mode: darken;
    }
    
    .sub-wrap {
        position: relative;
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    .transporte-container {
        width: 100%;
                text-align: center;
        position: relative;
        width: auto;
        display: block;
        margin: auto;
        margin-bottom: 5px;
                float: left;
        position: relative;

    }
    
    .subte {
        padding: 0px;
        width: 100%;
        display: block;
        margin: 0px;
        float: left;
                position: relative;
        margin-top: 0px;
        line-height: 5pt;

    }
    
    .subte table {
        margin: 0px;
        display: block;
                float: left;
        letter-spacing: -0.3pt;

    }
    
    .tabla-medios {
        width: 100%;
        vertical-align: top;
        letter-spacing: -0.3pt;
    }
    
    td {
        width: 30%;
        margin-bottom: 2px;
    }
    
    .por {
        letter-spacing: -0.3pt;

        width: 70%;
    }
    
    
/*    CONTACTITOS*/
    .wrap-contactito {
        height: 80px;
        width: 100%;
        position: relative;
        float: left;
    display: block;
        margin: 0px;
        margin-bottom: 35px;
                vertical-align: top;

}
    
    .info-contacto {
        display: inline-block;
        font-family: "Din_reg";
        
        font-size: 9pt;
        letter-spacing: -0.1pt;
        line-height: 11pt;
            color: #5a4a42;
        width: 92%;
        float: left;
        vertical-align: top;


    }
 
    .mini-redes {
        display: inline-block;
        width: 4.5%;
        margin: auto;
        margin-top: 3vw;
        float: right;
        vertical-align: top;

    }
    
    .mini-redes img {
        height: 4.1vw;
        width: 4.1vw;
margin: 0px;    }
    
   
    
}