    @font-face {
        font-family: 'Aroha';
        font-weight: normal;
        src: url("../JackFuckinTwist.github.io/CSS/FONTS/Arohabien.otf");
    }
    
    @font-face {
        font-family: 'Din_reg';
        font-weight: normal;
        src: url("../JackFuckinTwist.github.io/CSS/FONTS/DIN_reg.otf");
    }
    
    @font-face {
        font-family: 'Din_demi';
        font-weight: normal;
        src: url("../JackFuckinTwist.github.io/CSS/FONTS/DIN_demi.otf");
    }
    
    @font-face {
        font-family: 'FontAwesome';
        font-weight: normal;
        src: url("../JackFuckinTwist.github.io/CSS/FONTS/FontAwesome.otf");
    }
    
    @font-face {
        font-family: 'Myriad';
        font-weight: normal;
        src: url("../JackFuckinTwist.github.io/CSS/FONTS/MyriadPro-Regular.otf");
    }
    /*FOOTER*/
    
    .fontawesome {
        font-style: normal;
        font-family: "FontAwesome";
    }
    
    .foot_container {
        font-family: "Din_reg";
        font-size: 8pt;
        color: #57a044;
    }
    /*FACHADA Y COPY*/
    
    .titulo-cuerpo {
        font-family: "Aroha";
        font-size: 34pt;
        line-height: 21pt;
        margin: 0;
        color: #c04e36;
    }
    
    .copy {
        font-family: "Din_reg";
        font-size: 8pt;
        line-height: 11pt;
        color: #594a41;
        margin-top: -2px;
    }


/*ANUNCIO INDEX*/

.copy-anuncio {
    font-family: "Aroha";
    font-size: 16.1pt;
    line-height: 9.01pt;
            color: #594a41;

}





/*FUENTES MOVIL*/

@media screen and (max-width: 580px) {
    
      /*FACHADA Y COPY*/
    
    .titulo-cuerpo {
        font-family: "Aroha";
        font-size: 32pt;
        line-height: 21pt;
        margin: 0;
        color: #c04e36;
    }
    
    .copy {
        font-family: "Din_reg";
        font-size: 8.5pt;
        line-height: 11pt;
        color: #594a41;
        margin-top: 5px;
    }


/*ANUNCIO INDEX*/

.copy-anuncio {
    font-family: "Aroha";
    font-size: 20pt;
    line-height: 11pt;
            color: #594a41;

}  
    
    
}
