@media screen and (max-width: 580px) {
    .logo,
    .marco,
    .container_nav,
    .foot_container,
    .fachada-big,
    .anuncio-index-respons {
        display: none;
    }
    html {
        height: 100%;
    }
    body {
        height: 100%;
        overflow: hidden;
        overflow-y: scroll
    }
    .container {
        height: auto;
        min-height: 100% !important;
        width: auto;
        margin: 10px 3% 0px 3%;
        padding: 8%;
        background-image: url(../ASSETS/bg_phone.png);
        background-repeat: repeat-y;
        background-size: cover;
        background-origin: border-box;
        display: block;
        position: absolute;
    }
    /*  NAV RESPONSIVA   */
    .container-nav-respons {
        overflow: visible;
        display: inline-block;
        margin: 0px;
        height: auto;
        width: auto;
        margin-bottom: 5px;
        margin-top: -90.0264vw;
        right: -14.168vw;
        position: relative;
        z-index: 20;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .container-nav-responsdown {
        margin-top: 0 !important;
        right: 0vw !important;
    }
    .wrap-nav-respons {
        display: block;
        margin: 0;
        position: relative;
    }
    /*    TEXTO*/
    .text-nav-respons {
        right: -28.1339vw;

        position: fixed;
        height: 22.5066vw;
        width: 141.45vw;
        display: block;
        text-align: center;
        z-index: 20;
        text-decoration: none;
        line-height: 22.5066vw;
        pointer-events: none;
        font-family: "Aroha";
        font-size: 10vw;
        color: #594941;
        opacity: 0.8;
    }
    
   
    
    
    
    .text-nav-respons:hover {
        text-decoration: none;
    }
    .text-nav-respons:active {
        text-decoration: none;
    }
    .tactive {
        opacity: 1 !important;
    }
    /*    BARRAS*/
    .nav-x {
        position: relative;
    }
    .nav-1 {
        margin: 0;
        transform: translateX(-41.45vw);
        height: 22.5066vw;
        width: 141.45vw;
        float: left;
    }
    .nav-2 {
        margin: 0;
        transform: translateX(-41.45vw);
        height: 22.5066vw;
        width: 141.45vw;
        float: left;
    }
    .nav-3 {
        margin: 0;
        transform: translateX(-41.45vw);
        height: 22.5066vw;
        width: 141.45vw;
        float: left;
    }
    .nav-4 {
        margin: 0;
        transform: translateX(-41.45vw);
        height: 22.5066vw;
        width: 141.45vw;
        float: left;
    }
    .nav-5 {
        margin: 0;
        transform: translateX(-41.45vw);
        height: 25.1536vw;
        width: 141.45vw;
        float: left;
        opacity: 20%;
    }
    .cierre-menu {
        width: 141.45vw;
        height: 11.5615vw;
        margin: 0;
        margin-top: -5.5vw;
        transform: translateX(-41.45vw);
        float: left;
        display: block;
    }
    .cierre-menu>img {
        width: 141.45vw;
        height: 11.5615vw;
    }
    .nav-1>img,
    .nav-2>img,
    .nav-3>img,
    .nav-4>img {
        height: 22.5066vw;
        width: 141.45vw;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        position: absolute;
    }
    .nav-5>img {
        height: 25.1536vw;
        width: 141.45vw;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }
    .nav-1>img:hover,
    .nav-2>img:hover,
    .nav-3>img:hover,
    .nav-4>img:hover,
    .nav-5>img:hover {
        opacity: .6;
    }
    /*    LOGO RESPONS*/
    .logo-respons {
        display: block;
        position: absolute;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        margin: 0;
        margin-top: 4vw;
        margin-left: 4vw;
    }
    .logo-respons>img {
        width: 28.2647vw;
        height: 18.7851vw;
    }
   
    
/*    ICONOS REDES RESPONS*/
    .container-iconos-redes {
        display: block;
        position: absolute;
        z-index: 25;
        margin-left: -12vw;
/*                margin-left: 20.0342vw;*/

        margin-top: 29.4454vw;
        transition:         all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .redicon,
    .redicon-mid {
        height: 11.9646vw;
        width: 11.9646vw;
        margin: 0;
        display: block;
    }
    
    .redicon-mid {
        margin: 9.7048vw 0 9.7048vw 0;
    }
    
    
/*    ICONO HAMBURGUESA*/
    .menu-icon {
        display: block;
        position: absolute;
        float:left;
        margin: 0;
        z-index: 25;
        width: 7vw;
        height: 7vw;
        right: 0vw;
        top: 0vw;
        margin-top: 6vw;
        margin-right: 5vw;
    }
    
    .menu-icon > img {
       display: block;
        height: 7vw;

        width: 7vw;
        
    }
    
    
    /*FACHADA Y COPY*/
    .wrap-cuerpo {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin: auto;
    }
    .wrap-cuerpo-int {
        position: relative;
        display: block;
        width: 100%;
        margin: 0px;
    }
    .fachada {
        display: block;
        float: right;
        margin: auto;
    }
    .fachada-small {
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 8%
    }
    .copy-cuerpo {
        width: auto;
        text-align: center;
        display: block;
        margin: auto;
        float: left;
        margin-bottom: 10%;
    }
    /*  ANUNCIO INDEX  */
    .wrap-anuncio {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin: auto;
    }
    .wrap-anuncio-int {
        position: relative;
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .anuncio-index {
        display: block;
        float: left;
        margin-top: 5px;
        margin-bottom: 8%;
    }
    .copy-anuncio {
        width: 100%;
        text-align: center;
        display: block;
        margin: auto;
        float: left;
        margin-bottom: 10%;
    }
    .anuncio-index-small {
        display: block;
        margin: auto;
        width: 100%;
    }
}
